.menu-icon:hover {
    background-color: black;
}
.home {
    height: 1000px;
    width: auto;
    
}

.d-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    width: auto;
}

.left-d {
    display: absolute;
    overflow: hidden;
    height: auto;
    width: 1500px;
    z-index: 1;
    rotate: 75deg;
    margin-top: -70px;
    margin-left: -680px;
}

.right-d {
    overflow: hidden;
    display: absolute;
    height: auto;
    width: 1500px;
    margin-top: -600px;
    margin-right: -1000px;
    z-index: 2;
}

.c-box {
    overflow: hidden;
    height: 1000px;
    width: auto;
    margin-top: -1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ani-one {
    overflow: hidden;
    height: auto;
    width: 600px;
    margin-top: -100px;
    margin-left: 200px;
}

.text-box {
    display: flex;
    height: auto;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    z-index: 5;
    margin-top: -60px;
}

.text-one {
    font-size: 1.5rem;
}

.ani-text-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ani-text {
    font-size: 5rem;
    margin-top: -25px;
    margin-left: -5px;
    font-family: 'Clicker Script', cursive;;
}

.text-three {
    font-size: 2.5rem;
    padding: 0;
    margin-top: -65px;
}

