.projects {
    height: 1000px;
    width: 100%;
    text-align: center;
}

.pb {
    display: absolute;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    z-index: 0;
}

.p-container {
    margin-top: -1000px;
    display: flex;
    z-index: 10;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    
}

.p-header {
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    background: url(../Assets/text-design.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 80s linear infinite;
}
@keyframes back{
    100% {
        background-position: 2000px 0;
    }
}

.p-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 1, 19, 0.9);
    border-radius: 25px;

}

.p-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: 40px;
    border-radius: 25px;
    background-color: rgba(1, 216, 247, 0.2);
    border: 3px solid rgba(1, 216, 247, 0.5);
}

.i-pic {
    object-fit: cover;
    width: auto;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 3px solid rgba(1, 216, 247, 0.5);
    opacity: 70%;
}

.i-title {
    font-size: 1.5rem;
    color: white;
    opacity: 100%;
    font-weight: bolder;
}

.p-des {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.i-date {
    font-size: 20px;
    padding: 0 10px;
    margin: 0;
}

.i-description {
    font-size: 15px;
    text-align: left;
    margin-top: 0px;
    padding: 0 10px;
}